<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServerLink</servlet-name>
        <servlet-class>com.quest.servlets.ServerLink</servlet-class>
          <init-param>
            <param-name>version-no</param-name>
            <param-value>2.0.0.0</param-value>
         </init-param>
           <init-param>
            <param-name>version-name</param-name>
            <param-value>Tangerine</param-value>
         </init-param>
        <init-param>
            <param-name>database-name</param-name>
            <param-value>user_server</param-value>
        </init-param>
        <init-param>
            <param-name>default-password</param-name>
            <param-value>pass</param-value>
        </init-param>
         <init-param>
            <param-name>track-usage</param-name>
            <param-value>business_id</param-value>
        </init-param>
           <init-param>
            <param-name>sendgrid-username</param-name>
            <param-value>constant.oduol</param-value>
        </init-param>
        <init-param>
            <param-name>sendgrid-password</param-name>
            <param-value>Pasnipop@77</param-value>
        </init-param>
        <init-param>
            <param-name>password-expires</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>max-password-retries</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>client-timeout</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>multiple-login</param-name>
            <param-value>true</param-value>
        </init-param>
         <init-param>
            <param-name>debug-mode</param-name>
            <param-value>true</param-value>
        </init-param>
         <init-param>
            <param-name>external-services</param-name>
            <param-value>
             com.quest.pos.PosAdminService,
             com.quest.pos.PosSaleService,
             com.quest.access.useraccess.services.UserService,
             com.quest.access.useraccess.services.OpenDataService
            </param-value>
        </init-param>
         <init-param>
            <param-name>grant-init-privileges</param-name>
            <param-value>pos_admin_service,user_service,pos_sale_service</param-value>
        </init-param>
         <init-param>
            <param-name>grant-init-users</param-name>
            <param-value>root@questpico.com</param-value>
        </init-param>
        <init-param>
            <param-name>root-user</param-name>
            <param-value>root@questpico.com</param-value>
        </init-param>
         <init-param>
            <param-name>sender-email</param-name>
            <param-value>noreply@quest-uza.appspot.com</param-value>
        </init-param>
         <init-param>
            <param-name>create-user-email-subject</param-name>
            <param-value>New Quest Web Services Account</param-value>
        </init-param>
        <init-param>
            <param-name>production-status</param-name>
            <param-value>offline</param-value>
        </init-param>
          <init-param>
            <param-name>init-type</param-name>
            <param-value>initial</param-value>
        </init-param>
         <init-param>
            <param-name>online-database-username</param-name>
            <param-value>apps</param-value>
        </init-param>
        <init-param>
            <param-name>online-database-password</param-name>
            <param-value>thelonelymt</param-value>
        </init-param>
        <init-param>
            <param-name>offline-database-username</param-name>
            <param-value>root</param-value>
        </init-param>
         <init-param>
            <param-name>database-driver</param-name>
            <param-value>com.mysql.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>offline-database-password</param-name>
            <param-value/>
        </init-param>
        <init-param>
            <param-name>online-jdbc</param-name>
            <param-value>jdbc:mysql://23.229.186.73:3306/</param-value>
        </init-param>
         <init-param>
            <param-name>offline-jdbc</param-name>
            <param-value>jdbc:mysql://127.0.0.1:3306/</param-value>
        </init-param>
         <init-param>
            <param-name>template-request</param-name>
            <param-value>{"request_header":{"request_svc":"","request_msg":"","session_id":""},"request_object":{}}</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServerLink</servlet-name>
        <url-pattern>/server</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
