<div>
    <div id="error_space_admin" class="error" ></div>
    <div>
    	<div class="summary">
    		<span>Amount Due :</span><span id='bill_amount_due'></span>
    	</div>
    	<br><br>
    	<ol>
    	<li>Please send amount due above to this M-Pesa number : <b>0729 936 172</b></li>
    	<li>Wait for SMS message from M-Pesa</li>
    	<li>Enter your phone number and M-Pesa transaction id below</li>
    	<li>Click verify Transaction</li>
    	<li>Ensure the system responds with transaction verified</li>
    	</ol>
    </div>
    <hr/>
    <div class="form-group">
        <label for="phone_no">Phone No.</label>
        <input type="text" class="form-control" id="phone_no" placeholder="e.g 072111000">
         <label for="trans_id">Transaction Id</label>
        <input type="text" class="form-control" id="trans_id" placeholder="e.g JD48DDHS2">
        
    </div>
    <div class="input-group button_area">
        <input type="button" id="verify_trans_btn" value="Verify Transaction" class="btn btn-info"/>
    </div>

</div>