<div class="card" id="products_card">
    <h3>Products</h3>
    <div class="input-group">
        <input type="text" class="form-control" id="search_products" placeholder="Search Products" style="width: 80%">
        <select id="product_categories" style="width: 20%" ></select>
        <div class="input-group-addon search" id="search_link">
            <img src="img/search.png" alt="Search Products" > 
        </div>
    </div>
    
    <div id="error_space_admin" class="error" ></div>
    <hr/>
    <div class="form-group">
        <label for="product_name">Product Name</label>
        <input type="text" class="form-control" id="product_name" placeholder="Product Name">

        <label for="product_quantity">Quantity</label>
        <input type="number" class="form-control" id="product_quantity" placeholder="Quantity">
        
         <label for="product_category">Product Category</label>
        <input type="text" class="form-control" id="product_category" placeholder="Product Category">
        
        <label for="product_sub_category">Product Sub Category</label>
        <input type="text" class="form-control" id="product_sub_category" placeholder="Product Sub Category">
        
        
        <label for="product_bp_unit_cost">Buying Unit Cost</label>
        <input type="number" class="form-control" id="product_bp_unit_cost" placeholder="Buying Unit Cost">

        <label for="product_sp_unit_cost">Selling Unit Cost</label>
        <input type="number" class="form-control" id="product_sp_unit_cost" placeholder="Selling Unit Cost">

        <label for="product_reminder_limit">Low Stock Reminder Limit</label>
        <input type="number" class="form-control" id="product_reminder_limit" placeholder="Product Reminder Limit">

        <label for="product_expiry_date">Product Expiry Date</label>
        <input type="date" class="form-control" id="product_expiry_date" placeholder="Product Expiry Date" readonly="readonly">
        
        <label for="product_narration">Product Narration</label>
        <input type="text" class="form-control" id="product_narration" placeholder="Product Narration">
        
        <label for="product_parent">Parent Product</label>
        <input type="text" class="form-control" id="product_parent" placeholder="Parent Product">

        <label for="tax">Tax Percentage</label>
        <input type="number" class="form-control" id="tax" placeholder="Tax Percentage" value="0">

        <label for="commission">Commission</label>
        <input type="number" class="form-control" id="commission" placeholder="Commission Value" value="0">

    </div>

    <div class="input-group button_area">
        <input type="button" id="create_product_btn" value="Create Product" class="btn btn-info"/>
        <input type="button" id="update_product_btn" value="Update Product" class="btn btn-info"/>
        <input type="button" id="delete_product_btn" value="Delete Product" class="btn btn-info"/>
        <input type="button" id="supplier_product_btn" value="Suppliers" class="btn btn-info"/>
    </div>

</div>
