<div>
    <label for="enable_undo_sales">Enable undo sales for sales persons</label>
    <select id="enable_undo_sales" class="form-control">
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select>
    
    <label for="add_tax">Add tax as an expense to profit and loss</label>
     <select id="add_tax" class="form-control">
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select>
    
    <label for="add_comm">Add commission as an expense to profit and loss</label>
     <select id="add_comm" class="form-control">
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select>
    
    <label for="add_purchases">Add purchases from suppliers to profit and loss</label>
     <select id="add_purchases" class="form-control">
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select>
    
    <label for="track_stock">Track stock movement</label>
     <select id="track_stock" class="form-control">
        <option value="1">Yes</option>
        <option value="0">No</option>
    </select>
    <label for="user_interface">User Interface</label>
     <select id="user_interface" class="form-control">
        <option value="touch">Touch/Modern</option>
        <option value="desktop">Desktop/Traditional</option>
    </select>
     <div class="input-group button_area">
        <input type="button" id="save_settings_btn" value="Save" class="btn btn-info"/>
    </div>
</div>