<div>
    <h4 id="supplier_account_name"></h4>
    <label for="entry_type">Entry Type</label>
    <select id="entry_type" class="form-control">
        <option value="1">Stock In</option>
        <option value="0">Stock Out</option>
    </select>
    <label for="amount">Amount</label>
    <input type="number" id="amount" class="form-control" >
    
    <label for="units_received" id="units_received_lbl">Units Received</label>
    <input type="number" id="units_received" class="form-control" >
    
    <label for="sp_per_unit" id="sp_per_unit_lbl">Selling Price Per Unit</label>
    <input type="number" id="sp_per_unit" class="form-control" >

    <label for="narration">Narration</label>
    <input type="text" id="narration" class="form-control" >

</div>