<div class="card">
    <h3>Suppliers</h3>
    <div class="input-group">
        <input type="text" class="form-control" id="search_suppliers" placeholder="Search Suppliers">
        <div class="input-group-addon search" id="search_link"><img src="img/search.png" alt="Search Suppliers" ></div>
    </div>
    <div id="error_space_admin" class="error" ></div>
    <hr/>
    <div class="form-group">
        <label for="supplier_name">Suppliers Name</label>
        <input type="text" class="form-control" id="supplier_name" placeholder="Suppliers Name">

        <label for="phone_number">Phone Number</label>
        <input type="text" class="form-control" id="phone_number" placeholder="Phone Number">

        <label for="email_address">Email Address</label>
        <input type="text" class="form-control" id="email_address" placeholder="Email Address">

        <label for="postal_address">Postal Address</label>
        <input type="text" class="form-control" id="postal_address" placeholder="Postal Address">

        <label for="company_website">Company Website</label>
        <input type="text" class="form-control" id="company_website" placeholder="Company Website">

        <label for="contact_person_name">Contact Person Name</label>
        <input type="text" class="form-control" id="contact_person_name" placeholder="Contact Person Name">

        <label for="contact_person_phone">Contact Person Phone</label>
        <input type="text" class="form-control" id="contact_person_phone" placeholder="Contact Person Phone">

        <label for="city">City</label>
        <input type="text" class="form-control" id="city" placeholder="City">

        <label for="country">Country</label>
        <select class="form-control" id="country"></select>


    </div>
    <div class="input-group button_area">
        <input type="button" id="save_supplier_btn" value="Create Supplier" class="btn btn-info"/>
        <input type="button" id="update_supplier_btn" value="Update Supplier" class="btn btn-info"/>
        <input type="button" id="delete_supplier_btn" value="Delete Supplier" class="btn btn-info"/>
    </div>

</div>
